html, body {
	height: 100%;
}

body {
	padding-top:90px;
	background: url(images/background.gif) repeat-x;
	font-family: 'PT Sans', sans-serif;
}
p {
	font-family: 'PT Sans', sans-serif;
	
}
.clear { clear: both; }
.close { cursor: pointer; }
h3 { color: #ED5887; }

/* Thanks to: http://charliepark.org/bootstrap_buttons/ */
.btn.custom {
  background-color: hsl(336, 76%, 39%);
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(hsl(336, 76%, 57%)), to(hsl(336, 76%, 39%)));
  background-image: -moz-linear-gradient(top, hsl(336, 76%, 57%), hsl(336, 76%, 39%));
  background-image: -ms-linear-gradient(top, hsl(336, 76%, 57%), hsl(336, 76%, 39%));
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, hsl(336, 76%, 57%)), color-stop(100%, hsl(336, 76%, 39%)));
  background-image: -webkit-linear-gradient(top, hsl(336, 76%, 57%), hsl(336, 76%, 39%));
  background-image: -o-linear-gradient(top, hsl(336, 76%, 57%), hsl(336, 76%, 39%));
  background-image: linear-gradient(top, hsl(336, 76%, 57%), hsl(336, 76%, 39%));
  border-color: hsl(336, 76%, 39%) hsl(336, 76%, 39%) hsl(336, 76%, 34.5%);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.29);
  -webkit-font-smoothing: antialiased;
}

#container {
	margin: 0 auto 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -100px;
}

	.navbar { 
		background: #e4e6e6;
		padding: 15px;
	}
	#header {
		width: 940px;
		margin: 0 auto 0 auto;
	}
	#logo { float: left; margin: 5px 0 0 0; }
	#login-form {
		float: right;
		display: none;
	}
	#account {
		margin: 12px 0 0 0;
		float:right;
	}
		
		#username, #password { background: #FFF; color: #404040; border: 1px solid #aaadad; }
		#username:focus, #password:focus { border: 1px solid #949797; }
		#account-link, #logout { cursor: pointer; }

	#playlist-header h3 {
		padding: 0;
	}

	#playlist-controls-container {
		margin: 3px 0 0 0;
	}

	#playlist-controls {
		float: right;
		margin: 3px 0 0 0;
	}

		#playlist-controls li {
			list-style-type: none;
			float: left;
			margin: 3px 5px 0 0;
		}
			#playlist-controls li:last-child {
				margin: 1px 0 0 0;
			}
			#removeAll {
				height: 20px;
				width: 80px;
				padding: 0 2px 0 2px;
			}
			.prev, .next, #new-playlist, #delete-playlist { cursor: pointer; }
			
	#playlist-table {
		margin: 0 0 0 0;
		overflow: scroll;
		overflow-x: hidden;
		height: 264px;
		background: #FFF;
	}

	#playlist-table tr {
		cursor: pointer;
	}
	#playlist-table td {
		padding-top: 10px;
	}
		.title { float: right;}
		#playlist-table .title p {
			width: 360px;
			overflow: hidden;
			white-space: nowrap;
			text-overflow:ellipsis;
			-o-text-overflow:ellipsis;
			-ms-text-overflow:ellipsis;			
		}
		.playlist-options { float: left; margin: 3px 0 0 0; }
			.playlist-options li {
				list-style-type: none;
				float: left;
				margin: 0 0 0 3px;
			}

	#player {
		margin-top: 40px;
	}

	#main {
		margin-top: 65px;
	}

	#mainListOptions {
		margin: 15px 0 0 0;
	}

		#mainListOptions li {
			float: left;
			list-style-type: none;
			margin: 0 10px 0 0;
		}
			
			#sort-options {
				width: 100px;
			}

			#refresh-videos { display: none; }
		#loading {
			margin: 15px 0 0 0;
		}

		#mainListTable-wrapper {
			overflow: scroll;
			overflow-x:hidden;
			height: 500px;
			margin: 5px 0 0 0;
		}
			#search{
				float: right;
			}
				#search-box { float: left; }
				#search-button { float: left; margin: 0 0 0 5px; }
				#cancelSearch { cursor: pointer; }
				#remove-icon { margin: 3px 0 0 0; }

			#sort-options, #order { width: 120px ;}
			#addAllButton { display: none; }
			#video-options { float: left; margin: 3px 0 0 0;}
				#video-options li { float: left; list-style-type: none; margin: 0 0 0 5px; cursor: pointer; }
			.title { float: left; margin: 2px 0 0 10px; }
			.videoPreview { float: left; display: none; margin: 10px 0 0 0; }

#footer {
	background: #e4e6e6;
	margin: 25px 0 0 0;
}

#footer, .push { height: 100px; }

	#footer-content {
		margin: 0 auto 0 auto;
		width: 940px;
		padding: 30px 0 0 0;
	}

		#social {
			float: right;
			margin: 5px 0 0 0;
		}
			#social h5 { float: left; margin: 2px 0 0 0; }
			#social-list { margin: 2px 0 0 0; list-style-type: none; float: right }
			#social-list li {
				float: left;
				margin: 0 0 0 5px;
			}

#alert-message { margin: 0; }
p.new-playlist-error { color: #B94A48; }